NEXT_PUBLIC_API_URL="http://localhost:3001/api"

# AWS Cognito Configuration
NEXT_PUBLIC_AUTH_MODE="cognito"
NEXT_PUBLIC_COGNITO_REGION="ap-southeast-1"
NEXT_PUBLIC_COGNITO_USER_POOL_ID=""
NEXT_PUBLIC_COGNITO_CLIENT_ID=""
